<div class="container mt-5">
  <div class="card shadow">
    <div class="card-body">
      <h2 class="text-center mb-4">Ajouter Foyer</h2>
      <form class="my-4" (ngSubmit)="ajouterFoyerEtAffecterAUniversite()" #foyerForm="ngForm">
        <div class="row mb-3">
          <div class="col-6 mb-3">
            <label for="nomFoyer" class="form-label">Foyer Name:</label>
            <input type="text" id="nomFoyer" [(ngModel)]="foyer.nomFoyer" name="nomFoyer" required class="form-control" #nomFoyer="ngModel">
            <div *ngIf="nomFoyer.invalid && nomFoyer.errors">
              <div *ngIf="nomFoyer.errors['required']" class="alert alert-danger">
                Foyer Name is required.
              </div>
              <!-- Add additional conditions for other validations if needed -->
            </div>
          </div>

          <div class="col-6">
            <label for="capaciteFoyer" class="form-label">Foyer Capacity:</label>
            <input type="number" id="capaciteFoyer" [(ngModel)]="foyer.capaciteFoyer" name="capaciteFoyer" required class="form-control">
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-12">
            <div *ngIf="(universities$ | async) as universities">
              <label for="university" class="form-label">Select University:</label>
              <select id="university" [(ngModel)]="selectedUniversity" name="university" required class="form-control">
                <option disabled selected value="">Please select a university</option>
                <option *ngFor="let university of universities" [ngValue]="university">{{ university.nomUniversite }}</option>
              </select>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <button type="submit" class="btn btn-primary">Ajouter</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
