<div class="mt-5">
    <div class="container-fluid py-4">
      <div class="row">
        <div class="col-12">
          <div class="card mb-4">
            <div class="card-header pb-0">
              <div class="row">
                <h1 class="col-9">Modifier universite</h1>
                <a routerLink="/admin/universite" class="col-2 btn btn-success">Liste des universites
                </a>
              </div>
            </div> 
            <div class="card-header pb-0 pb-2">
              <form [formGroup]="universiteForm" (ngSubmit)="onSubmit()"> 
                <div style="display: flex;flex-direction: row;"> 
                  <div class="form-container" style="display: flex;justify-content: space-around;" [ngClass]="{ 'active': formInValid }">
                    <div>
                      <label for="nomUniversite">Nom Universite</label>
                      <input type="text" class="form-control" id="nom" formControlName="nom" style="font-size: 30px;"> 
                      <div *ngIf="universiteForm.get('nom').hasError('required') && universiteForm.get('nom').touched" style="color: red;">
                        Nom est requis.
                      </div>
                      <div *ngIf="universiteForm.get('nom').hasError('minlength') && universiteForm.get('nom').touched"style="color: red;">
                        Nom doit avoir au moins 3 caractères.
                      </div>
                    </div>
                    <div>
                      <label for="adresseUniversite">Adresse Universite</label> 
                      <input type="text" class="form-control" id="emplacement" formControlName="emplacement" style="font-size: 30px;">
                      <div
                        *ngIf="universiteForm.get('emplacement').hasError('required') && universiteForm.get('emplacement').touched" style="color: red;">
                        Adresse est requis.
                      </div>
                      <div *ngIf="universiteForm.get('emplacement').hasError('minlength') && universiteForm.get('emplacement').touched"style="color: red;">
                        Adresse doit avoir au moins 3 caractères.
                      </div>
                    </div>
                    
                    <div>
                      <label for="foyerUniversite">Foyer</label> 
                      <input type="text" class="form-control" id="foyerUniversite" formControlName="foyer" style="font-size: 30px;">
                    </div>
                    
                    <br>
                    <div class="card" style="width: 60%;">
                      <div style="display: flex;flex-direction: row;">
                        <label for="" >Affecter foyer à cette université</label>
                      <label>
                        <a class="circular-button" [ngClass]="{ 'active': afficherAffectation }"
                          (click)="afficherAffectationMethode()">
                          <span>&#43;</span>
                        </a>
                      </label><br />
                      </div>
                      <div class="card-header pb-0 pb-2">
                        
                        <div *ngIf="afficherAffectation">
                          <h2>Affecter Foyer à université </h2>
                          <div style="display: flex; align-items: center;">
                            <input type="text" class="form-control" name="searchFoyerAffecterAj" placeholder="Rechercher foyer par nom ou Capacité"
                              [(ngModel)]="searchFoyerAffecterAj" [ngModelOptions]="{standalone: true}">
                            <button type="button" class="btn btn-danger" (click)="clearSearch()">
                              <i class="fa fa-times"></i>
                            </button>
                          </div>
                          <div class="tbl-fixed">
                            <table class="table-style">
                              <thead>
                                <tr>
                                  <th>Nom foyer</th>
                                  <th>Capacité</th>
                                  <th>Affectation</th>
                                </tr>
                              </thead>
                              <tbody class="table__body" *ngFor="let foyer of foyersNonAffecter">
                                <tr *ngIf="filteredFoyer(foyer)">
                                  <td>{{ foyer.nomFoyer }}</td>
                                  <td>{{ foyer.capaciteFoyer }}</td>
                                  <td>
                                    <button type="button" class="btn btn-primary" (click)="selcteFoyer(foyer)">
                                      Affecter
                                    </button>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                          
                        </div>
                      </div>
                    </div>
                  </div>
  
  
                  <div class="form-container">
                    <div class="form-content">
                      <h2 class="form-title">Voulez-vous Modifier les anciens valeurs de l'université  ?</h2>
    
                      <div class="form-group">
                        <label for="nomUniversite">Nom Université : {{universite.nomUniversite}}</label>
                      </div>
    
                      <div class="form-group">
                        <label for="adresseUniversite">Adresse Université : {{universite.adresse}}</label>
                      </div>
    
                      <div class="form-group">
                        <label for="foyerUniversite" *ngIf="universite.foyer!=null">Nom Foyer :
                          {{universite.foyer.nomFoyer}} </label>
                        <label for="foyerUniversite" *ngIf="universite.foyer==null">Nom Foyer : <span
                            style="color: red;">Foyer non affecté!</span> </label>
                      </div>
    
                      <button type="submit" class="btn btn-success" [disabled]="valid()">Confirmer</button>
                    </div>
                  </div>
  
                  
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  