<div class="container mt-6">
  <h2>Update Chambre</h2>

  <form [formGroup]="updateForm" (ngSubmit)="updateChambre()">
    <div class="form-group">
      <label for="idChambre">ID Chambre:</label>
      <input id="idChambre" formControlName="idChambre" class="form-control" [value]="updateForm.get('idChambre').value" readonly />
    </div>

    <div class="form-group">
      <label for="numeroChambre">Numero Chambre:</label>
      <input id="numeroChambre" formControlName="numeroChambre" class="form-control" />
      <div *ngIf="updateForm.get('numeroChambre').hasError('required') && updateForm.get('numeroChambre').touched" style="color: red;">
        Numero du chambre est requis.
      </div>
      <div *ngIf="updateForm.get('numeroChambre').hasError('maxlength') && updateForm.get('numeroChambre').touched"style="color: red;">
        Numero doit avoir au maximum 3 chiffres.
      </div>
    </div>

    <div class="form-group">
      <label for="typeC">Type Chambre:</label>
      <input id="typeC" formControlName="typeC" class="form-control" />
      <div *ngIf="updateForm.get('typeC').hasError('required') && updateForm.get('typeC').touched" style="color: red;">
        Chambre  is required.
      </div>
    </div>

    <div class="form-group" formGroupName="bloc">
      <label for="idBloc">ID Bloc:</label>
      <input id="idBloc" formControlName="bloc.idBloc" class="form-control" />
     
    </div>
    

    <!-- Add other form controls as needed -->

    <button type="submit" class="btn btn-primary">Update Chambre</button>
    <button class="btn btn-sucess  mr-7" (click)="goToChambreList()">Back to Chambre List</button>

  </form>
</div>
