<div class="mt-5">
  <div class="container-fluid py-4">
    <div class="row">
      <div class="col-12">
        <div class="card mb-4">
          <div class="card-header pb-0">
            <div class="row">
              <h3 class="col-9">Liste des foyes</h3>
              <a routerLink="AjouterFoyer" class="col-2 btn btn-success"
                >Ajouter foyer
              </a>
            </div>
          </div>
          <div class="card-body px-0 pt-0 pb-2">
            <div class="table-responsive p-0">
              <table
                class="table table-vcenter table-mobile-md card-table"
                border="1"
              >
                <thead>
                  <tr>
                    <th>Nom de foyer</th>
                    <th>Capacite de foyer</th>
                    <th>Nom d'universite</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let foyers of foyer; let i = index">
                    <td>{{ foyers.nomFoyer }}</td>
                    <td>{{ foyers.capaciteFoyer }}</td>
                    <td *ngIf="foyers.universite != null; else nullDisplay">
                      <a class="badge bg-info">
                        {{ foyers.universite.nomUniversite }}</a
                      >
                    </td>
                    <ng-template #nullDisplay>
                      <td>
                        <a
                          class="btn btn-warning btn-sm"
                          style="background-color: rgb(231, 164, 102)"
                        >
                          Non affecté
                        </a>
                      </td>
                    </ng-template>
                    <td class="col">
                      <a class="btn text-success">
                        <span class="material-icons"> visibility </span></a
                      ><a class="btn text-warning">
                        <span class="material-icons"> edit </span></a
                      ><a
                        class="btn text-danger"
                        (click)="deleteFoyer(foyers.idFoyer)"
                      >
                        <span class="material-icons"> delete </span></a
                      >
                      <a
                        class="btn "
                        (click)="showlistebloc(foyers)"
                        data-bs-toggle="modal"
                        data-bs-target="#blocModal"
                      >
                        <span class="material-icons"> list </span>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- code pour afficher modal de button afficher -->
<div class="modal" tabindex="-1" role="dialog" id="blocModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <input
          type="text"
          class="form-control"
          placeholder="Rechercher un bloc.."
          [(ngModel)]="searchText"
          #ngModel="ngModel"
        />
        <p>You typed: {{ searchText }}</p>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <p>Liste de bloc :</p>
        <ul>
          <li *ngFor="let b of bloc">{{ b.nomBloc }}</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Fermer
        </button>
      </div>
    </div>
  </div>
</div>
