
<br>
<br>
<br> 
<button class="col-2 btn btn-success" (click)="printSimplePdf()">Download pdf  data </button>  ...
<a routerLink="Ajouter" class="col-2 btn btn-success"
>Ajouter etudiant

</a>
<br>
<br>
<br>
<h1>Recherche multicritère</h1>
  <div class="search-hero">
    <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder=" Rechercher etudiant par nom prenom ecole cin ">


 
  <div class="mt-5">
    <div class="container-fluid py-4">
      <div class="row">
        <div class="col-12">
          <div class="card mb-4">
            <div class="card-header pb-0">
              <div class="row">
                <h3 class="col-9">Liste des etudiants</h3>
                <br>
             
                <br>
               
              </div>
            </div>
            <div class="card-body px-0 pt-0 pb-2">
              <div class="table-responsive p-0">
                <table
                  class="table table-vcenter table-mobile-md card-table"
                >
                  <thead>
                    <tr>
                        <th>nomEt</th>
                        <th>prenomEt</th>
                      <th>cin</th>
                      <th>ecole</th>
                      <th>Date</th>
                      
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let etudiants of etudiant | filter:searchText  | paginate: { itemsPerPage: tableSize, currentPage: page, totalItems: count}; let i = index ">
                      
                      <td class="tcell" >{{ etudiants.nomEt }}</td>
                      <td class="tcell" >{{ etudiants.prenomEt }}</td>
                      <td class="tcell" >{{ etudiants.cin }}</td>
                      <td class="tcell" >{{ etudiants.ecole }}</td>
                      <td class="tcell" >{{ etudiants.dateNaissance }}</td>


                     

                      <ng-template #nullDisplay>
                        <td>
                          <a
                            class="btn btn-warning btn-sm"
                            style="background-color: rgb(231, 164, 102)"
                          >
                            Non affecté
                          </a>
                        </td>
                      </ng-template>
                      <td class="col">
                        <a class="btn text-success"  [routerLink]="['detail', etudiants.idEtudiant,etudiants.nomEt , etudiants.prenomEt , etudiants.cin , etudiants.ecole , etudiants.dateNaissance ]">
                          <span class="material-icons"> visibility </span></a>
                        
                        
                        <a class="btn text-warning" [routerLink]="['Update', etudiants.idEtudiant,etudiants.nomEt , etudiants.prenomEt , etudiants.cin , etudiants.ecole , etudiants.dateNaissance ]">
                          <span class="material-icons"> edit </span></a
                        >
                        
                        
                        
                        <a
                          class="btn text-danger"
                          (click)="deleteEtudiant(etudiants.idEtudiant)"
                        >
                          <span class="material-icons"> delete </span></a
                        >


                       
                        
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- code pour afficher modal de button afficher -->
  <div class="modal" tabindex="-1" role="dialog" id="blocModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <input
            type="text"
            class="form-control"
            placeholder="Rechercher un bloc.."
          />
          <p>You typed: {{ searchText }}</p>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <p>Liste de bloc :</p>
          <ul>
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Fermer
          </button>


          
        
        </div>
      </div>
      
    </div>
    
  </div>
  <div>
    <pagination-controls
    previousLabel="Prev"
    nextLabel="Next"
    (pageChange)="onTableDataChange($event)"></pagination-controls>
    </div>
    
  

  

