.export__file {
    position: relative;
    display:felx;
    justify-content: space-between;
}
/*

export__file-btn-PDF
export__file-btn-JSON src/assets/images/json.png
export__file-btn-CSV  src/assets/images/csv.png
export__file-btn-EXCEL src/assets/images/excel.png
*/
.export__file .export__file-btn-PDF {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background: #fff6 url(src/assets/images/pdf.png) center / 80% no-repeat;
    border-radius: 50%;
    transition: .2s ease-in-out;
}

.export__file .export__file-btn-JSON {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background: #fff6 url(src/assets/images/json.png) center / 80% no-repeat;
    border-radius: 50%;
    transition: .2s ease-in-out;
}
.export__file .export__file-btn-CSV {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background: #fff6 url(src/assets/images/csv.png) center / 80% no-repeat;
    border-radius: 50%;
    transition: .2s ease-in-out;
}
.export__file .export__file-btn-EXCEL {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background: #fff6 url(src/assets/images/excel.png) center / 80% no-repeat;
    border-radius: 50%;
    transition: .2s ease-in-out;
}

.export__file .export__file-btn {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background: #fff6 url(src/assets/images/export.png) center / 80% no-repeat;
    border-radius: 50%;
    transition: .2s ease-in-out;
}

.export__file .export__file-btn:hover { 
    background-color: #fff;
    transform: scale(1.15);
    cursor: pointer;
}

.export__file input {
    display: none;
}

.export__file .export__file-options {
    position: absolute;
    right: 0;
    
    width: 12rem;
    border-radius: .5rem;
    overflow: hidden;
    text-align: center;

    opacity: 0;
    transform: scale(.8);
    transform-origin: top right;
    
    box-shadow: 0 .2rem .5rem #0004;
    
    transition: .2s;
}

.export__file input:checked + .export__file-options {
    opacity: 1;
    transform: scale(1);
    z-index: 100;
}

.export__file .export__file-options label{
    display: block;
    width: 100%;
    padding: .6rem 0;
    background-color: #f2f2f2;
    
    display: flex;
    justify-content: space-around;
    align-items: center;

    transition: .2s ease-in-out;
}

.export__file .export__file-options label:first-of-type{
    padding: 1rem 0;
    background-color: #86e49d !important;
}

.export__file .export__file-options label:hover{
    transform: scale(1.05);
    background-color: #fff;
    cursor: pointer;
}

.export__file .export__file-options img{
    width: 2rem;
    height: auto;
}
.tbl-fixed{
    overflow-x: scroll;
    overflow-y: scroll;
    height: fit-content;
    max-height: 30vh;
    }

    .table__body::-webkit-scrollbar{
        width: 0.5rem;
        height: 0.5rem;
    }
    
    .table__body::-webkit-scrollbar-thumb{
        border-radius: .5rem;
        background-color: #0004;
        visibility: hidden;
    }
    
    .table__body:hover::-webkit-scrollbar-thumb{ 
        visibility: visible;
    }
    