<div class="mt-5">
  <div class="container-fluid py-4">
    <div class="row">
      <div class="col-12">
        <div class="card mb-4">
          <div class="card-header pb-0">
            <div class="row">
              <h1 class="col-8">Liste des universites</h1>
              <!-- Search form -->
              <div class="mb-4">
                <input class="form-control" [(ngModel)]="search" type="text" placeholder="Rechercher dans la liste">
              </div>

              <!-- Ajouter le bouton basculant -->
              <div class="toggle-display">
                <label for="list-view">Liste</label>
                <input type="radio" id="list-view" name="display-mode" [(ngModel)]="displayMode" value="list">

                <label for="card-view">Carte</label>
                <input type="radio" id="card-view" name="display-mode" [(ngModel)]="displayMode" value="card">
              </div>

              <a class="btn btn-warning btn-sm" style="background-color: rgb(231, 164, 102)"
                routerLink="Ajouter">Ajouter universite
              </a>
              <div class="export__file">

                <label for="export-file" class="export__file-btn" title="Export File"></label>
                <input type="checkbox" id="export-file">
                <div class="export__file-options">
                  <label>Export As &nbsp; &#10140;</label>
                  <label for="export-file" id="toPDF">PDF <a class="export__file-btn-PDF"
                      title="Export PDF" (click)="generatePDF()"></a></label> <!--<img src="src/assets/images/pdf.png" alt="">-->
                  <label for="export-file" id="toJSON">JSON <a class="export__file-btn-JSON"
                      title="Export PDF"></a></label> <!--<img src="src/assets/images/json.png" alt="">-->
                  <label for="export-file" id="toCSV">CSV <a class="export__file-btn-CSV"
                      title="Export PDF"></a></label> <!--<img src="src/assets/images/csv.png" alt="">-->
                  <label for="export-file" id="toEXCEL">EXCEL <a class="export__file-btn-EXCEL"
                      title="Export PDF"></a></label> <!--<img src="src/assets/images/excel.png" alt="">-->
                </div>
            </div>
          </div>
          <div class="card-body px-0 pt-0 pb-2">
            <div>
              <div class="table-responsive p-0" style="width: 100%; overflow-x: auto;">
                <table *ngIf="displayMode === 'list'" class="table table-vcenter table-mobile-md card-table table--bigger-size">
                  <thead>
                    <tr>
                      <th class="text-center" > Nom universite <span class="icon-arrow">&UpArrow;</span></th>
                      <th class="text-center" > adresse <span class="icon-arrow">&UpArrow;</span></th>
                      <th class="text-center" > foyer <span class="icon-arrow">&UpArrow;</span></th>
                      <th class="text-center"  > Action <span class="icon-arrow">&UpArrow;</span></th>
                    </tr>
                  </thead>
                  <tbody class="table__body" *ngFor="let univ of universites; let i = index">
  
                    <tr *ngIf="filteredUniversites(univ)">
  
                      <td class="text-center col-1 tcell">{{ univ.nomUniversite }}</td>
                      <td class="text-center col-3 tcell" >{{ univ.adresse }}</td>
                      <td  class="text-center col-3 tcell" *ngIf="univ.foyer != null">
                        <a class="badge bg-info" data-bs-toggle="modal" data-bs-target="#DesaffectFoyerModal"
                          (click)="getUniversiteADesaffecter(univ.idUniversite,univ.foyer)">
                          {{ univ.foyer.nomFoyer }}</a>
                      </td>
                      <td  class="text-center col-3 tcell" *ngIf="univ.foyer == null">
  
                        <a class="btn btn-warning btn-sm" style="background-color: rgb(231, 164, 102)"
                          data-bs-toggle="modal" data-bs-target="#AffectFoyerModal"
                          (click)="getUniversiteAAffecter(univ)">
                          Non affecté
                        </a>
                      </td>
                      <td class="text-center col-3 tcell">
                        <a class="btn text-success">
                          <span class="material-icons"> visibility </span></a><a class="btn text-warning"
                          (click)="goToUpdate(univ.idUniversite)">
                          <span class="material-icons"> edit </span>
  
                        </a><a class="btn text-danger" data-bs-toggle="modal" data-bs-target="#SupprimerUniversiteModal" (click)="getUniversiteAdelete(univ)" > 
                          <span class="material-icons"> delete </span></a>
                      </td>
  
                    </tr>
  
                  </tbody>
                </table>

                <!-- aficher en card-->
              <div class="card-container" *ngIf="displayMode === 'card'" >
                <div class="card" *ngFor="let univ of universites">
                  <div *ngIf="filteredUniversites(univ)">
                    <div class="card-header">{{ univ.nomUniversite }}</div>
                  <div class="card-body">
                    <div>Adresse : {{ univ.adresse }}</div>
                    <div *ngIf="univ.foyer != null">
                      foyer : 
                      <a class="badge bg-info" data-bs-toggle="modal" data-bs-target="#DesaffectFoyerModal"
                        (click)="getUniversiteADesaffecter(univ.idUniversite,univ.foyer)">
                        {{ univ.foyer.nomFoyer }}</a>
                    </div>
                    <div *ngIf="univ.foyer == null">
                      foyer : 
                      <a class="btn btn-warning btn-sm" style="background-color: rgb(231, 164, 102)"
                        data-bs-toggle="modal" data-bs-target="#AffectFoyerModal"
                        (click)="getUniversiteAAffecter(univ)">
                        Non affecté
                      </a>
                    </div>
                    <a class="btn text-success"  >
                      <span class="material-icons"   > visibility </span></a><a class="btn text-warning" (click)="goToUpdate(univ.idUniversite)"
                   >
                      <!--routerLink="Modifier"-->
                      <span class="material-icons"> edit </span>

                    </a><a class="btn text-danger" data-bs-toggle="modal" data-bs-target="#SupprimerUniversiteModal" ><!--(click)="delelteUniversite(univ)"-->
                      <span class="material-icons"> delete </span></a>
                  </div>
                  </div>
                </div>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- code pour afficher modal de button Affecter Foyer a universite -->
<div class="modal" tabindex="-1" role="dialog" id="AffectFoyerModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="display:flex;flex-direction: column;">
        <h2>Affecter Foyer a universite </h2>
        <input type="text" class="form-control" placeholder="Rechercher un foyer à affecté par nom ou capacité"
          [(ngModel)]="searchFoyerAffecterP" /><!---->
      </div>
      <div class="modal-body">
        <p>Liste des foyers </p>
        <div class="tbl-fixed">
          <table class="table-style">
            <thead>
              <tr>
                <th>Nom foyer</th>
                <th>Capacite</th>
                <th>Affectation</th>
              </tr>
            </thead>
            <tbody class="" *ngFor="let foyer of foyersNonAffecter; let i = index">
              <tr *ngIf="filteredFoyer(foyer)">
                <td>{{ foyer.nomFoyer }}</td>
                <td>{{ foyer.capaciteFoyer }}</td>
                <td>
                  <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                    (click)="affecterFoyerAuniversite(foyer)">
                    Affecter
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Fermer
        </button>

      </div>
    </div>
  </div>
</div>

<!-- code pour afficher modal de button Désaffecter foyer -->
<div class="modal" tabindex="-1" role="dialog" id="DesaffectFoyerModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3>Désaffecter foyer</h3>
      </div>
      <div class="modal-body">
        <p>Voulez-vous désaffecter le foyer {{selectedFoyerNomAdesafecter}} ?</p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="desaffecterFoyerAuniversite()">
          Désaffecter
        </button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Fermer
        </button>

      </div>
    </div>
  </div>
</div>

<!-- code pour afficher modal de button Supprimer universite -->
<div class="modal" tabindex="-1" role="dialog" id="SupprimerUniversiteModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3>Supprimer universite</h3>
      </div>
      <div class="modal-body">
        <p>Voulez-vous Supprimer universite  ?</p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="deleteUniversite()" > <!--(click)="delelteUniversite()-->
          Supprimer
        </button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Fermer
        </button>

      </div>
    </div>
  </div>
</div>
<!---->


