<div class="container mb-3">
  <h1 class="text-center">Bloc List</h1>

  <div class="card p-3">
    <div class="row">
      <div class="col-md-4 mb-3">
        <label for="nomBloc" class="form-label">Nom Bloc:</label>
        <input type="text" id="nomBloc" class="form-control" [(ngModel)]="searchBlocName" />
      </div>

      <div class="col-md-4">
        <button class="btn btn-primary w-100" (click)="searchBlocs()">Search</button>
      
      </div>
    </div>
  </div>


<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>name</th>
      <th>Capacité</th>
      <th>Foyer</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let bloc of blocs">
      <td>{{ bloc.idBloc }}</td>
      <td>{{ bloc.nomBloc }}</td>
      <td>{{ bloc.capaciteBloc }}</td>
      <td>{{ bloc.foyer.idFoyer }}</td>
      <td>
        <button class="btn btn-danger" (click)="deleteBloc(bloc)">Delete</button>
        <button class="btn btn-primary" (click)="getChambres(bloc.idBloc)">Chambres</button>
        <button class="btn btn-primary" (click)="updateBloc(bloc.idBloc)">Update</button>
      </td>
    </tr>
    <tr *ngIf="selectedBloc && selectedBloc.chambres && selectedBloc.chambres.length >0">
      <td colspan="5">
        <h3>Chambres for Bloc {{ selectedBloc.foyer.idFoyer }}</h3>
        <ul>
          <li *ngFor="let chambres of selectedBloc.chambres">
            <!-- Display reservation details as needed -->
            {{ chambres.numeroChambre }}
          </li>
        </ul>
      </td>
    </tr> 
  </tbody>
</table>

<button class="btn btn-danger" (click)="GoToaddBloc()"> Ajouter bloc</button>