<div class="mt-5">
  <div class="container-fluid py-4">
    <h3 class="text-center" style="font-size: 20px; font-weight: bold; ">Liste des blocs</h3>
    <div class="row">
      <div class="col-12">
        <div class="card mb-4">
          <div class="card-header pb-0">
            <div class="row">
              <!-- blocNameSearch input -->
              <div class="col-6">
                <div class="form-group">
                  <input type="text" class="form-control" id="blocNameSearch" placeholder="Enter Bloc Name" [(ngModel)]="blocNameSearch" name="blocNameSearch" (input)="searchBlocsByBlocName()">
                </div>
              </div>
              <!-- idFoyerSearch input -->
              <div class="col-6">
                <div class="form-group">
                  <input type="text" class="form-control" id="idFoyerSearch" placeholder="Enter Foyer Id" [(ngModel)]="idFoyerSearch" name="idFoyerSearch" (input)="searchBlocsByfoyer()">
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-between">
              <div>
                <a class="btn btn-success mt-2 mr-7 text-dark" (click)="sortBlocsByName()">
                  <span class="material-icons">sort_by_alpha</span>
                </a>
              </div>
              <div>
                <a class="btn btn-success mt-2 mr-7 text-dark" (click)="GoToaddBloc()">
                  <span class="material-icons">library_add</span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body px-0 pt-0 pb-2">
          <div class="table-responsive p-0">
            <table class="table table-vcenter table-mobile-md card-table">
              <thead>
                <!-- Table headers -->
                <tr>
                  <th class="text-center">ID</th>
                  <th class="text-center">Nom Bloc</th>
                  <th class="text-center">Capacité Bloc</th>
                  <th class="text-center">Foyer</th>
                  <th class="text-center">Actions</th>
                </tr>
              </thead>
              <tbody>
                <!-- Iterate over blocs -->
                <tr *ngFor="let bloc of blocs | paginate: { itemsPerPage: tableSize, currentPage: page, totalItems: count}; let i = index">
                  <td class="text-center col-1 tcell">{{ bloc.idBloc }}</td>
                  <td class="text-center col-3 tcell">{{ bloc.nomBloc }}</td>
                  <td class="text-center col-3 tcell">{{ bloc.capaciteBloc }}</td>
                  <td class="text-center col-4 tcell">
                    <ng-container *ngIf="bloc.foyer; else nullDisplay">
                      {{ bloc.foyer.idFoyer }}
                    </ng-container>
                    <ng-template #nullDisplay>
                      <span class="text-danger font-weight-bold">Non affecté</span>
                    </ng-template>
                  </td>
                  <td class="col text-center">
                    <a class="btn text-success" (click)="detailsBloc(bloc.idBloc)">
                      <span class="material-icons">visibility</span>
                    </a>
                    <a class="btn text-warning" (click)="updateBloc(bloc.idBloc)">
                      <span class="material-icons">edit</span>
                    </a>
                    <a class="btn text-danger" (click)="deleteBloc(bloc)">
                      <span class="material-icons">delete</span>
                    </a>
                  </td>
                </tr>
                <tr *ngIf="selectedBloc && selectedBloc.chambres && selectedBloc.chambres.length > 0">
                  <td colspan="5">
                    <h3>Chambres for Bloc {{ selectedBloc.idBloc }}</h3>
                    <ul>
                      <li *ngFor="let chambre of selectedBloc.chambres" class="chambre-item">
                        <!-- Display chambredetails as needed -->
                        {{ chambre.idChambre }}
                      </li>
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div>
      <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)"></pagination-controls>
    </div>
  </div>
</div>