<div>
  <h2>Add Bloc</h2>
  <form #BlocForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="nomBloc">Nom Bloc:</label>
      <input type="text" class="form-control" id="nomBloc" name="nomBloc" [(ngModel)]="bloc.nomBloc" required style="font-size: 30px;">
      
    </div>
    <div class="form-group">
      <label for="capaciteBloc">Capacite Bloc:</label>
      <input type="text" class="form-control" id="capaciteBloc" name="capaciteBloc" [(ngModel)]="bloc.capaciteBloc" required style="font-size: 30px;">
      
    </div>
    
    <div>
      <label for="foyerId">Foyer ID:</label>
      
      <input type="text" class="form-control" id="foyerId" name="foyerId" [(ngModel)]="bloc.foyer.idFoyer" required style="font-size: 30px;">
    </div>
    <button type="submit" class="btn btn-success" >Save</button>
  </form>
</div>
