
  <!-- Header -->

  <header class="header d-flex flex-row">
    <div class="header_content d-flex flex-row align-items-center">
      <!-- Logo -->
      <div class="logo_container">
        <div class="logo">
          <img src="assets/template/images/logo.png" alt="">
          <span>Foyer</span>
        </div>
      </div>
  
      <!-- Main Navigation -->
      <nav class="main_nav_container">
        <div class="main_nav">
          <ul class="main_nav_list">
            <li class="main_nav_item"><a href="#">home</a></li>
            <li class="main_nav_item"><a href="#">about us</a></li>
            <li class="main_nav_item"><a href="/getfoyer">université</a></li>
            <li class="main_nav_item"><a href="#">Foyer</a></li>
            <li class="main_nav_item"><a href="/getblocs">blocs</a></li>
            <li class="main_nav_item"><a routerLink="/contact">Chambre</a></li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="header_side d-flex flex-row justify-content-center align-items-center">
      <a class="nav-link" routerLink="/login">
        <span class="text-center">Déconnecter</span>
      </a>
    </div>
    <!-- Hamburger -->
    <div class="hamburger_container">
      <i class="fas fa-bars trans_200"></i>
    </div>
  </header>
  <div class="hero_slider_container">
    <div class="hero_slider owl-carousel">
  
      <!-- Hero Slide -->
      <div class="hero_slide">
        <div class="hero_slide_background" style="background-image:url(https://png.pngtree.com/background/20230520/original/pngtree-modern-bedroom-that-has-wooden-panels-and-wood-lighting-picture-image_2677932.jpg)"></div>
        <div class="hero_slide_container d-flex flex-column align-items-center justify-content-center">
          <div class="hero_slide_content text-center">
            <h1 data-animation-in="fadeInUp" data-animation-out="animate-out fadeOut">Get your <span>Chambre</span> today!</h1>
          </div>
        </div>
      </div>
  
     
  
    </div>
  

  </div>
  
<div class="card-deck">
    <div class="card mb-4" *ngFor="let chambre of chambresData">
        <div class="card-body">
            <div class="image-container">
                <img class="card-image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTpAYFCRbTF4JZBSGiIAVqgO4BgdJZMKG-VzA&usqp=CAU" alt="Chambre Image">
            </div>
            <h5 class="card-title">{{ chambre.numeroChambre }}</h5>
            <p class="card-text">
                <strong>Type:</strong> {{ chambre.typeC }}<br>
                <strong>Bloc:</strong> {{ chambre.bloc?.nomBloc }}
            </p>
            <a routerLink="/Acceuil/user/ajouterReservation"  class="btn btn-primary btn-reserve">Reserver</a>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="container">
  
      <!-- Newsletter -->
  
      <div class="newsletter">
        <div class="row">
          <div class="col">
            <div class="section_title text-center">
              <h1>Subscribe to newsletter</h1>
            </div>
          </div>
        </div>
  
        <div class="row">
          <div class="col text-center">
            <div class="newsletter_form_container mx-auto">
              <form action="post">
                <div class="newsletter_form d-flex flex-md-row flex-column flex-xs-column align-items-center justify-content-center">
                  <input id="newsletter_email" class="newsletter_email" type="email" placeholder="Email Address" required="required" data-error="Valid email is required.">
                  <button id="newsletter_submit" type="submit" class="newsletter_submit_btn trans_300" value="Submit">Subscribe</button>
                </div>
              </form>
            </div>
          </div>
        </div>
  
      </div>
  
      <!-- Footer Content -->
  
      <div class="footer_content">
        <div class="row">
  
          <!-- Footer Column - About -->
          <div class="col-lg-3 footer_col">
  
            <!-- Logo -->
            <div class="logo_container">
              <div class="logo">
                <img src="assets/template/images/logo.png" alt="">
                <span>course</span>
              </div>
            </div>
  
            <p class="footer_about_text">In aliquam, augue a gravida rutrum, ante nisl fermentum nulla, vitae tempor nisl ligula vel nunc. Proin quis mi malesuada, finibus tortor fermentum, tempor lacus.</p>
  
          </div>
  
          <!-- Footer Column - Menu -->
  
          <div class="col-lg-3 footer_col">
            <div class="footer_column_title">Menu</div>
            <div class="footer_column_content">
              <ul>
                <li class="footer_list_item"><a href="#">Home</a></li>
                <li class="footer_list_item"><a href="#">About Us</a></li>
                <li class="footer_list_item"><a href="courses.html">Courses</a></li>
                <li class="footer_list_item"><a href="news.html">News</a></li>
                <li class="footer_list_item"><a href="contact.html">Contact</a></li>
              </ul>
            </div>
          </div>
  
          <!-- Footer Column - Usefull Links -->
  
          <div class="col-lg-3 footer_col">
            <div class="footer_column_title">Usefull Links</div>
            <div class="footer_column_content">
              <ul>
                <li class="footer_list_item"><a href="#">Testimonials</a></li>
                <li class="footer_list_item"><a href="#">FAQ</a></li>
                <li class="footer_list_item"><a href="#">Community</a></li>
                <li class="footer_list_item"><a href="#">Campus Pictures</a></li>
                <li class="footer_list_item"><a href="#">Tuitions</a></li>
              </ul>
            </div>
          </div>
  
          <!-- Footer Column - Contact -->
  
          <div class="col-lg-3 footer_col">
            <div class="footer_column_title">Contact</div>
            <div class="footer_column_content">
              <ul>
                <li class="footer_contact_item">
                  <div class="footer_contact_icon">
                    <img src="assets/template/images/placeholder.svg" alt="https://www.flaticon.com/authors/lucy-g">
                  </div>
                  Blvd Libertad, 34 m05200 Arévalo
                </li>
                <li class="footer_contact_item">
                  <div class="footer_contact_icon">
                    <img src="assets/template/images/smartphone.svg" alt="https://www.flaticon.com/authors/lucy-g">
                  </div>
                  0034 37483 2445 322
                </li>
                <li class="footer_contact_item">
                  <div class="footer_contact_icon">
                    <img src="assets/template/images/envelope.svg" alt="https://www.flaticon.com/authors/lucy-g">
                  </div>hello@company.com
                </li>
              </ul>
            </div>
          </div>
  
        </div>
      </div>
  
      <!-- Footer Copyright -->
  
      <div class="footer_bar d-flex flex-column flex-sm-row align-items-center">
        <div class="footer_copyright">
          <span><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></span>
        </div>
        <div class="footer_social ml-sm-auto">
          <ul class="menu_social">
            <li class="menu_social_item"><a href="#"><i class="fab fa-pinterest"></i></a></li>
            <li class="menu_social_item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
            <li class="menu_social_item"><a href="#"><i class="fab fa-instagram"></i></a></li>
            <li class="menu_social_item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li class="menu_social_item"><a href="#"><i class="fab fa-twitter"></i></a></li>
          </ul>
        </div>
      </div>
  
    </div>
  </footer>
  
  
