.details-header {
    font-weight: bold;
    font-style: italic;
    font-size: 24px;
    text-align: center;
    background-color: transparent;
    }
  
  .card-footer {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
  }
  
  .card-column {
    width: 50%;
    background-color: rgba(255, 255, 255, 0.9);
  }
  
  .card-column-left {
    order: 1;
    background-color: rgba(255, 255, 255, 0.9);
  }
  
  .card-column-right {
    order: 2;
    background-color: rgba(255, 255, 255, 0.9);
  }
  
  @media (max-width: 768px) {
    .card-footer {
      flex-direction: column;
    }
  
    .card-column {
      width: 100%;
      background-color: rgba(255, 255, 255, 0.9);
    }}
    .card {
        background-color: rgba(255, 255, 255, 0.9);
      
      }