<div class="container">
    <h2>Update Bloc</h2>
  
    <form [formGroup]="updateForm" (ngSubmit)="ModifierBloc()">
      <div class="form-group">
        <label for="idBloc">Id Bloc:</label>
        <input id="idBloc" formControlName="idBloc" class="form-control" readonly />
      </div>
  
      <div class="form-group">
        <label for="nomBloc">Nom Bloc:</label>
        <input id="nomBloc" formControlName="nomBloc" class="form-control" />
      </div>
  
      <div class="form-group">
        <label for="capaciteBloc">Capacite Bloc:</label>
        <input id="capaciteBloc" formControlName="typeC" class="form-control" />
      </div>
  
      <div class="form-group">
        <label for="idFoyer">Id Foyer:</label>
        <input id="idFoyer" formControlName="Foyer.idFoyer" class="form-control" />
      </div>
  
      <!-- Add other form controls as needed -->
  
      <button type="submit" class="btn btn-primary"  >Update Bloc</button>
    </form>
  </div>