<div class="mt-5">
    <div class="container-fluid py-4">
      <div class="row">
        <div class="col-12">
          <div class="card mb-4">
            <div class="card-header pb-0">
              <div class="row">
                <h1 class="col-8">Réservation Chambre Foyer</h1>
              </div>
            </div>
            <div class="card-body px-0 pt-0 pb-2">
              <div class="row justify-content-center mt-3">
                <div class="col-md-11">
                  <!-- Form Basic -->
                  <div class="card mb-4">
                    <div
                      class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
                    >
                      <h4 class="m-0 font-weight-bold text-primary">
                        Reservation
                      </h4>
                    </div>
                    <table class="table">
                      <tbody>
                        <tr>
                          <th>Id Réservation</th>
                          <td>x</td>
                        </tr>
                        <tr>
                          <th>Type Chambre demander</th>
                          <td>x</td>
                        </tr>
                        <tr>
                          <th>Annee Réservation</th>
                          <td>x</td>
                        </tr>
                        <tr>
                          <th>Statue</th>
                          <td>x</td>
                        </tr>
                        <tr>
                          <th>Longeur</th>
                          <td>x</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <!-- Form Basic -->
                  <div class="card mb-4">
                    <div
                      class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
                    >
                      <h4 class="m-0 font-weight-bold text-primary">Etudiant</h4>
                    </div>
                    <table class="table">
                      <tbody>
                        <tr>
                          <th>Longeur</th>
                          <td>x</td>
                        </tr>
                        <tr>
                          <th>Largeur</th>
                          <td>x</td>
                        </tr>
                        <tr>
                          <th>Hauteur</th>
                          <td>x</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <!-- Form Basic -->
                  <div class="card mb-4">
                    <div
                      class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
                    >
                      <h4 class="m-0 font-weight-bold text-primary">Foyer</h4>
                    </div>
                    <table class="table">
                      <tbody>
                        <tr>
                          <th>Id Foyer</th>
                          <td>x</td>
                        </tr>
                        <tr>
                          <th>Type Chambre demander</th>
                          <td>x</td>
                        </tr>
                        <tr>
                          <th>Annee Réservation</th>
                          <td>x</td>
                        </tr>
                        <tr>
                          <th>Statue</th>
                          <td>x</td>
                        </tr>
                        <tr>
                          <th>Longeur</th>
                          <td>x</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <!-- Form Basic -->
                  <div class="card mb-4">
                    <div
                      class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
                    >
                      <h4 class="m-0 font-weight-bold text-primary">Bloc</h4>
                    </div>
                    <table class="table">
                      <tbody>
                        <tr>
                          <th>Id Foyer</th>
                          <td>x</td>
                        </tr>
                        <tr>
                          <th>Type Chambre demander</th>
                          <td>x</td>
                        </tr>
                        <tr>
                          <th>Annee Réservation</th>
                          <td>x</td>
                        </tr>
                        <tr>
                          <th>Statue</th>
                          <td>x</td>
                        </tr>
                        <tr>
                          <th>Longeur</th>
                          <td>x</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <!-- Form Basic -->
                  <div class="card mb-4">
                    <div
                      class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
                    >
                      <h4 class="m-0 font-weight-bold text-primary">Chambre</h4>
                    </div>
                    <table class="table">
                      <tbody>
                        <tr>
                          <th>Id Chambre</th>
                          <td>x</td>
                        </tr>
                        <tr>
                          <th>Type Chambre demander</th>
                          <td>x</td>
                        </tr>
                        <tr>
                          <th>Annee Réservation</th>
                          <td>x</td>
                        </tr>
                        <tr>
                          <th>Statue</th>
                          <td>x</td>
                        </tr>
                        <tr>
                          <th>Longeur</th>
                          <td>x</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <!-- Form Basic -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  