<br>
<br>
<br> 

 
  <button class="col-2 btn btn-success" (click)="printSimplePdf()"> - -  Download pdf  data </button>

  <div class="container mt-5">
    <div class="card shadow">
      <div class="card-header bg-success text-white">
        <h1 class="card-title mb-0">Détails de l'étudiant</h1>
      </div>
      <div class="card-body">
        <form (ngSubmit)="ModifierFoyer()">
          <div class="mb-3">
            <label for="updatenomEt" class="form-label">Nom étudiant</label>
            <input type="text" class="form-control" id="updatenomEt" name="updatenomEt" value="nomEt" [(ngModel)]="etudiant.nomEt" readonly>
          </div>
          <div class="mb-3">
            <label for="updateprenomEt" class="form-label">Prénom étudiant</label>
            <input type="text" class="form-control" id="updateprenomEt" name="updateprenomEt" value="prenomEt" [(ngModel)]="etudiant.prenomEt" readonly>
          </div>
          <div class="mb-3">
            <label for="updatecin" class="form-label">CIN étudiant</label>
            <input type="text" class="form-control" id="updatecin" name="updatecin" value="cin" [(ngModel)]="etudiant.cin" readonly>
          </div>
          <div class="mb-3">
            <label for="updateecole" class="form-label">École</label>
            <input type="text" class="form-control" id="updateecole" name="updateecole" value="ecole" [(ngModel)]="etudiant.ecole" readonly>
          </div>
          <div class="mb-3">
            <label for="updateemail" class="form-label">Email</label>
            <input type="text" class="form-control" id="updateemail" name="updateemail" value="email" [(ngModel)]="etudiant.email" readonly>
          </div>
  
          <!-- Ajoutez d'autres champs si nécessaire -->

        </form>
      </div>
    </div>
  </div>
  
  