.card {
    width: 300px;
    margin: 20px;
    background-color: x #fff56d; /* Set background color to black */
    color: #8a8545; /* Set text color to white */
    border: 1px solid #a8aa30; /* Add a border with a darker color */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(250, 250, 247, 0.1);
  }
  
  .card-header {
    background-color: #d9f5c7; /* Set a darker background color for the header */
    padding: 10px;
    border-bottom: 1px solid #f16868; /* Darker border at the bottom of the header */
  }
  
  .card-body {
    padding: 20px;

  }
  