<main class="main-content mt-0">

    <span class="mask bg-gradient-dark opacity-6"></span>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-5 text-center mx-auto">
          <h1 class="text-white mb-2 mt-5">Bienvenue!</h1>
          <p class="text-lead text-white">
            Découvrez tout ce que notre université a à offrir. Explorez nos
            foyers, blocs, chambres et faites vos réservations en quelques
            clics.
          </p>
        </div>
      </div>
    </div>

  <router-outlet></router-outlet>
</main>
