<div>
    <h2>Add New Reservation</h2>
    <form (ngSubmit)="addReservation()">
      <div>
        <label for="reservationName">Reservation Name:</label>
        <input type="text" id="reservationName" name="reservationName" [(ngModel)]="reservation.reservationName" required>
      </div>
      <div>
        <label for="description">Description:</label>
        <textarea  type="text" id="description" name="description" [(ngModel)]="reservation.description" required></textarea>
      </div>
      <div>
        <label for="startDate">StartDate:</label>
        <input type="date" id="startDate" name="startDate" [(ngModel)]="reservation.startDate" required>
      </div>
      <div>
        <label for="endDate">EndDate:</label>
        <input type="date" id="endDate" name="endDate" [(ngModel)]="reservation.endDate" required>
      </div>
      <div>
        <label for="status">Status:</label>
        <input type="text" id="status" name="status" [(ngModel)]="reservation.status" required>
      </div>
      <div>
        <button type="submit">Add Reservation</button>
    </div>
    </form>
  </div>
